<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443976474873-s0k8rdcge7n4b6jqa5chh14uf7k9hkb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443976474873-s0k8rdcge7n4b6jqa5chh14uf7k9hkb3</string>
	<key>API_KEY</key>
	<string>AIzaSyAs2QAbKrlh0JVKFrcB1XtN_xLXNlzmtgE</string>
	<key>GCM_SENDER_ID</key>
	<string>443976474873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlexeyMeleshkevich.Login</string>
	<key>PROJECT_ID</key>
	<string>login-89320</string>
	<key>STORAGE_BUCKET</key>
	<string>login-89320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443976474873:ios:a91210b398853fdc010228</string>
	<key>DATABASE_URL</key>
	<string>https://login-89320.firebaseio.com</string>
</dict>
</plist>